<div class="container mt-5">
  <div class="row"> 
    <div class="col-lg-3 col-12" *ngFor="
    let product of products
      | paginate: { itemsPerPage: 8, currentPage: page }">
      <div class="card mb-3" style="max-width: 480px; height: 550px">
        <div class="row g-0">
          <div class="col-md-12">
            <h5 class="card-name">{{ product.name }}</h5>
            <img
              src="{{ product.imageUrl }}"
              class="img-fluid rounded-start"
              alt="..."
            />
            <div class="card-body">
              <p class="card-price">
                <small class="text-muted">Precio: ${{ product.price }}</small>
              </p>
              <p class="card-description">{{ product.description }}</p>
              <p class="card-quantity">
                <small class="text-muted"
                  >Cantidad: {{ product.quantity }}</small
                >
              </p>
              <button type="button" class="btn btn-primary" (click)="articleAdded()">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</footer>
</div>


